body {
    font-family: 'Verdana', sans-serif;
}

a {
    color: inherit;
}

.header {
    max-width: 1280px;
    min-height: 170px;
    margin: 0 auto;
}

.header-top {
    max-width: 1280px;
    height: 40px;
    background-color: #f4f4f4;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

.header-menu,
.header-social {
    height: inherit;
    display: flex;
    align-items: center;
}

.header-menu > a {
    font-family: 'Roboto-Thin', sans-serif;
    font-size: 14px;
    padding: 0 16px;
    color: #666666;
}

.header-menu__item:not(:last-child) {
    border-right: 1px solid #cecece;
}

.header-menu__item::before {
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px;
}
.signin::before {
    content: url(../images/svg/signin.svg);
}
.favorite::before {
    content: url(../images/svg/favorite.svg);
}
.compare::before {
    content: url(../images/svg/compare.svg);
}

.header-social {
    width: 200px;
    justify-content: space-evenly;
}

.header-social__svg {
    fill: #666666;
    width: 20px;
}
.header-social__svg:hover {
    fill: #00a0a6;
}
.header-social__svg:active {
    fill: #cf12df;
}


.header-bottom {
    max-width: 1280px;
    height: 130px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
}

.header-logo {
    display: flex;
    align-items: center;
}
.header-logo__image {
    width: 40px;
    height: 90px;
    margin-left: 58px;
    margin-right: 20px;
}
.header-logo__svg {
    fill: #00686e;
    height: 100px;

}

.header-logo__title,
.header-logo__subtitle {
    display: block;
}

.header-logo__title {
    font-family: 'Roboto-Thin', sans-serif;
    font-size: 24px;
    text-align: right;
    color: #000000;
    font-stretch: ultra-condensed;
    letter-spacing: -2px;
    width: 146px;
    background-color: lightgray;
}
.header-logo__subtitle {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-align: left;
    color: #666666;
}

.main-menu {
    max-width: 1280px;
    height: 50px;
    margin: 0 auto;
    background-color: #00686e;
    display: flex;
    justify-content: space-between;
}

.main-menu-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 37px;
}
.main-menu-items__link {
    display: inline-block;
    width: 200px;
    text-align: center;
    border-left: 1px solid #ffffff;
    line-height: 30px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    letter-spacing: 0.01em;
}
.main-menu-items__link:hover {
    color: gold;
    text-shadow: 2px 2px #000000;
}
.main-menu-items__link:active {
    color: #f610a1;
}

.content-wrapper {
    max-width: 1280px;
    min-height: 1343px;
    margin: 0 auto;
    background-color: lightgray;
    padding: 25px 20px 50px;
    display: flex;
    justify-content: space-between;
}

.left-menu {
    width: 285px;
    margin-right: 30px;

}

.left-menu > h4 {
    height: 57px;
    background-color: #9b12ab;
    font-size: 20px;
    color: #ffffff;
    line-height: 57px;
    padding-left: 30px;

}
.left-menu-items {
    margin-bottom: 25px;
}

.left-menu-items__item {
    height: 53px;
    border: solid 1px #cecece;
    background-color: #f4f4f4;
    font-size: 16px;
    color: #9b12ab;
    line-height: 53px;
}
.left-menu-items__link  {
    display: block;
    padding-left: 30px;
}
.left-menu-items__link:hover  {
    background-color: #7c128c;
    color: #ffffff;
}
.left-menu-items__link:active  {
    background-color: #af12bf;
    color: #ffffff;
}

.left-menu-items__link::before {
    display: inline-block;
    vertical-align: middle;
    /*margin-right: 6px;*/
}

.evening::before {
    content: url(../images/svg/signin.svg);
}
.wedding::before {
    content: url(../images/svg/signin.svg);
}
.popular::before {
    content: url(../images/svg/signin.svg);
}
.usual::before {
    content: url(../images/svg/signin.svg);
}
.special::before {
    content: url(../images/svg/signin.svg);
}
.simple::before {
    content: url(../images/svg/signin.svg);
}
.original::before {
    content: url(../images/svg/signin.svg);
}
.space::before {
    content: url(../images/svg/signin.svg);
}

.adverts-block__item {
    margin-bottom: 10px;
}




.footer {
    max-width: 1280px;
    min-height: 257px;
    margin: 0 auto;
    color: #ffffff;
}

.footer-top {
    max-width: 1280px;
    min-height: 222px;
    background-color: #4a4a4a;
    display: flex;
    justify-content: space-between;
}

.footer-item {
    display: flex;
    flex-direction: column;
}

.footer-item__link:hover {
    color: gold;
    /*color: #00a2a8;*/
    text-shadow: 2px 2px #000000;
}
.footer-item__link:active {
    color: yellow;
    /*color: #00a2a8;*/
    text-shadow: 2px 2px #000000;
}

.footer-bottom {
    max-width: 1280px;
    min-height: 35px;
    background-color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    text-align: center;
    color: #ffffff;
    line-height: 35px;
}

